<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.entropy.promoenginedemoapp"
    android:versionCode="1"
    android:versionName="1.0"
    android:largeHeap="true" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="16" />

    <!-- [START gcm_permission] -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <permission
        android:name="com.entropy.promoenginedemoapp.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.entropy.promoenginedemoapp.permission.C2D_MESSAGE" />
    <!-- [END gcm_permission] -->

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <permission
        android:name="com.entropy.promoenginedemoapp.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.entropy.promoenginedemoapp.permission.MAPS_RECEIVE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <application
        android:name="com.entropy.hypesdk.app.BeaconScannerApp"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" 
        android:largeHeap="true">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegistrationActivity"
            android:label="@string/app_name" 
            android:screenOrientation="portrait">
        </activity>

        <service
            android:name="org.altbeacon.beacon.service.BeaconService"
            android:enabled="true"
            android:exported="true"
            android:isolatedProcess="false"
            android:label="beacon" />
        <service
            android:name="org.altbeacon.beacon.BeaconIntentProcessor"
            android:enabled="true" />

        <meta-data
            android:name="com.entropy.hypesdk.API_KEY"
            android:value="a818ee80-1417-48c4-bf2e-3a5d869996d2" />
        
        <activity
            android:name=".SecondActivity"
            android:label="@string/title_activity_scan_qr"
            android:screenOrientation="portrait" />
        <activity
            android:name=".gcm.GCMSample"
            android:label="@string/gcm" />
        <activity
            android:name="com.google.zxing.client.android.CaptureActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateAlwaysHidden" >
            <intent-filter>
                <action android:name="com.google.zxing.client.android.SCAN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ScanQRActivity"
            android:label="@string/title_activity_scan_qr" >
        </activity>

        <!-- [START gcm_receiver] -->
        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.entropy.promoenginedemoapp" />
            </intent-filter>
        </receiver>
        <!-- [END gcm_receiver] -->


        <!-- [START gcm_listener] -->
        <service
            android:name=".gcm.MyGcmListenerService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <!-- [END gcm_listener] -->


        <!-- [START instanceId_listener] -->
        <service
            android:name=".gcm.MyInstanceIDListenerService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>
        <!-- [END instanceId_listener] -->
        <service
            android:name=".gcm.RegistrationIntentService"
            android:exported="false" >
        </service>

        <activity
            android:name=".PromoDetailsActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".BranchLocationActivity"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name=".SubscriptionActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".QRCodeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PrizesListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DisplayAllPromo"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ItemImageActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".UpdateProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SurveyActivity"
            android:label="@string/title_activity_survey" >
        </activity>
        <activity
            android:name=".SurveyAdapter"
            android:label="@string/title_activity_survey_adapter" >
        </activity>
        
        <service
            android:name="ph.entropy.beamsdk.GeofenceTriggeredListener"
            android:enabled="true" />
        
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="8115000" />
        
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyAa4uiA7P0Pj5D-S7RSJ9DuCQ3Zj_D79l0" />
        
        <uses-library android:name="com.google.android.maps"/>
        
    </application>

</manifest>
